html,
body {
  font-size: 16px;
  font-family: Papyrus;
}

div .q-page {
  font-size: 1rem !important;
}

svg {
  border: 1px solid rgb(255, 255, 255);
  max-width: 320px;
}

h3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.round-1 {
  border-radius: 1rem;
}

.row {
  border: 0px solid red;
}

.logo {
  margin-right: 50px;
}
.barvicky {
  margin-left: 100px;
}
